@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: cyan;
    color: red;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h1, h2 {
    color: blue;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: black;
    color: white;
}

footer p {
    margin: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

header {
    text-align: center;
    padding: 20px 0;
    animation: fadeIn 10s ease-out;
}

ul, ol {
    animation: slideIn 10s ease-out;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

h2 {
    font-size: 1.2em; 
    animation: spin 3s linear ; 
}
